/* Background pattern from Toptal Subtle Patterns */
body{
    background-image: url(../images/trees/trees.png);
    background-color: #d6e8ed;
    font-family: 'Press Start 2P', sans-serif;
    color: #2f3644;
}

#mainContent{
    margin-top: 6em;
}

.modal-content{
    background-color: #d6e8ed;
}

.jumbotron{
    padding:1em;
}

.character{
    background-color: rgba(34, 46, 66, 0.432);
}

.imgClass{
    margin:0;
    margin-bottom: .5em;
    border-radius: 1%;
}

.h2{
    margin-bottom: 1em;
}

.btn{
    margin:.2em;
}